{% extends "main/base.html" %}
{% load static %}
{% block head%}
    <link type="text/css" rel="stylesheet" href="{%  static 'styles/airport.css'%}">
{% endblock %}
{% block content %}

<h2>{{ICAO}} {{Callsign}}</h2>
<div class="charts">
    <div class="ground-charts">
        {% for chart in Ground_Charts %}
            <img width="706" height="100%" src="{% static chart %}">
        {% endfor %}
    </div>
    <div class="airway-charts">
        {% for chart in Airway_Charts %}
            <img width="50%" height="100%" src="{% static chart %}">
        {% endfor %}
    </div>
</div>
<input type="text" id="filter-input" placeholder="Callsign">

<ul id="objects-list">
{% for object in aircrafts %}
<li>
    <div class="aircraft">
    <input class="aircraft-callsign" type="text" placeholder="Callsign" value={{object.Callsign}} />
    <button class="button-inbound">Inbound</button>
  <br>
  <div style="line-height: 2;">  
    <input class="aircraft-small" type="text" placeholder="Dep">
    <input class="aircraft-medium" type="text" placeholder="Aircraft">
    <input class="aircraft-medium" type="text" placeholder="Altitude">
    <input class="aircraft-small" type="text" placeholder="Gate">
    <br>
    <input class="aircraft-small" type="text" placeholder="Arr">
    <input class="aircraft-medium" type="text" placeholder="Runway">
    <input class="aircraft-medium" type="text" placeholder="Squawk">
    <input class="aircraft-small" type="text" placeholder="Info">
    <br>
    <input class="aircraft-big" type="text" placeholder="Taxi instructions">
    <br>
    <input class="aircraft-big" type="text" placeholder="Additional Infos">
  </div>
  </div>

</li>
{% endfor %}
</ul>
<label class="output">Test</label>
<script src="{% static 'js/atc.js' %}"></script>
{% endblock content %}
