.aircraft {
  padding-left: 3px; 
  padding-right: 8px;
  width: 250px; 
  line-height: 1.6;   
  border-style: solid; 
  border-color: green;
  background-color: lightgrey;
}

.button-inbound {
  background-color: green; 
  color: white; 
  margin-right:-8px; 
  float: right; 
  width: 70x; 
  height: 20px; 
  border: 0px;
}
